{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<div class="card m-3">
  <div class="card-body">
    <form id="posts-form">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Header</label>
        <input id="header" type="text" class="form-control" id="exampleFormControlInput1"
          placeholder="Your post header">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea id="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Post</button>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% for post in page_obj %}
<div class="card m-3">
  <div id="post_{{ post.id }}" class="card-body">
    <h5 id="header">{{ post.header }}</h5>{% if user.id == post.author.id %}<a id="{{ post.id }}" onclick="edit_post_form(this.id)">Edit post</a>{% endif %}
    <hr>
    <p id="text">{{ post.text }}</p>
    <p id='like-data'><a id='{{ post.id }}' class="glyphicon glyphicon-thumbs-up" style="color: lightblue;" onclick="toggle_like(this)"></a><span id='like-count-{{ post.id }}'>  {{ post.like_set.all.count }}</span></p>
    <p style="font-size: smaller; color:gray">{% if post.creation_date.date == post.edit_date.date %}Posted by <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> at {{ post.creation_date }}{% else %}Edited by <a href="#">{{ post.author }}</a> at {{ post.edit_date }}{% endif %}
    </p>
  </div>
</div>
{% endfor %}
{% include 'network/includes/paginator.html' %}

{% endblock %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}