{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
        {{ user_page.username }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{user_page.email}}</h5>
        <p class="card-text">Posts made by {{user_page.username}}: {{ posts.count }}</p>
        <p>Followed: {{ followed.count }}</p>
        {% for follow in followed %}
        <p><a href="{% url 'profile' follow.id %}">{{ follow.username }}</a></p>
        {% endfor %}
        {% if user.is_authenticated %}
        {% if user.id != user_page.id %}
        {% if follow_button %}
        <a id="{{user_page.id}}" class="btn btn-danger" onclick="toggle_follow(this.id)">Unfollow</a>
        {% else %}
        <a id="{{user_page.id}}" class="btn btn-primary" onclick="toggle_follow(this.id)">Follow</a>
        {% endif %}
        {% endif %}
        {% endif %}
        <p>Followers: {{ followers_count }}</p>
        {% for follower in person_followers %}
        <p><a href="{% url 'profile' follower.owner.id %}">{{ follower.owner.username }}</a></p>
        {% endfor %}
    </div>
    <div class="card-footer text-muted">
        Last Log in: {{ user_page.last_login }}
    </div>
</div>
<h2>Here all Posts made by user:</h2>
{% for post in posts %}
<div class="card m-3">
    <div id="post_{{ post.id }}" class="card-body">
      <h5 id="header">{{ post.header }}  {% if user.id == post.author.id %}<i id="{{ post.id }}" <i class='fas fa-edit' onclick="edit_post_form(this.id)"></i>{% endif %}</h5>
      <hr>
      <p id="text">{{ post.text }}</p>
      <p id='like-data'><a id='{{ post.id }}' class="glyphicon glyphicon-thumbs-up" style="color: lightblue;" onclick="toggle_like(this)"></a><span id='like-count-{{ post.id }}'>  {{ post.like_set.all.count }}</span></p>
      <p style="font-size: smaller; color:gray">{% if post.creation_date.date == post.edit_date.date %}Posted by <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> at {{ post.creation_date }}{% else %}Edited by <a href="#">{{ post.author }}</a> at {{ post.edit_date }}{% endif %}
      </p>
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}